.App {
  text-align: center;
}
 
body {
  background-color: #ECF0F1;
}

.page-login {
  display: flex;
  justify-content: center;
  margin: 20px 50px 50px 20px;
}
.ui_form{
  background-color:white;
  margin: 60px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5%;
  text-align: center;
}
.field{
  padding: 10px;
}
input{
  padding: 4px;
}
